.App {
  text-align: center;
  /* font-family: "Fira code",
  "Source Code Pro",
  Tahoma,
  Arial,
  ”Helvetica Neue“,
  ”Hiragino Sans GB”,
  Simsun,
  sans-self; */
  font-family:
  "Fira code",
  "PingFang SC",
  "Noto Sans CJK",
  "Source Han Sans",
  "Microsoft Yahei",
  source-han-sans-simplified-c,
  sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
